<!--Page used for Canceled Payment-->
<%- include("header") -%>
<title>Charity Station | Payment Canceled</title>
<center>
<script>
    document.cookie = "donation_for=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
    document.cookie = "s_id_fb=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";

</script>
<br>
<br>
<h2>You canceled the payment!</h2>
<h2>We didn't charge your Account!</h2>
<br>    

</center>
<%- include("footer") -%>

