<!--Page used to confirm creating Account-->
<%- include("header") -%>
<title>Charity Station | Thanks for creating Account!</title>
<center>
<br>
<br>
<br>
<br>
<h2>Welcome <%=name%>, and thanks for creating your account!</h2>
<br>
</center>
<ol>
<li>
    You can find charities with our search tool, and donate or start a Fundraising. </li>
<li>
    You can use your Amazon account to make a donation to us, or to donate for any Fundraising.
</li>
<li>
    You can find your receipts instantly after you make a donation on our website in "My Account" tab.
</li>
<li>
    Finally, you can find Events or Fundraisings and share it with all of your freinds.
</li>
</ol>
<%- include("footer") -%>
