<!--Footer Section-->
<footer>
<br><br><br><br><br><br>
<center>
    <p>&copy; Khaled@Raise-up Buildathon - Charity Station</p>
    <a href="https://techolopia.com/privacy-policy">Privacy Policy</a>
</center>
</footer>
</body>
</html>