<%- include("header") -%>

<center>
<br>
<br>
<h1>Charity Station</h1>
<br>
<h2>Raise-up Buildathon by AWS. This is the main website for Charity Station Project.</h2>
</center>
<br>
<ol>
<li>
    This project uses Amazon Pay to collect donations from the Website, or from a Messenger Chatbot.
</li>
<li>
    The user can find any Charity Orgnization in the USA easily, and start a Fundraising or find more info about the orgnization.
</li>
<li>
    When a user start a Fundraising, this will send an automated email to all the Website User, and message the subscribed Messenger Users.
</li>
<li>
    If the user donated from the Website and never used the Messenger Chatbot, the user can find and download his receipts in "My Account" tab.
</li>
<li>
    If the user donated from the Messenger Chatbot, the user can find and download his receipts in Messenger as well as the Website in "My Account" tab.
</li>
<li>
    The admin can add Events, and this will send notifications as well. Events and Fundraising can be shared on some Social Media Platfroms.
</li>
<li>
    Finally, you can test the Website Integration using Sandbox Account from "Sandbox Login" tab, and Sandbox in "Donate" tab. (email: "test@dummy.fun", password: "123456")
</li>

</ol>

<%- include("footer") -%>