<!--Page used to Logout the user from the website-->
<%- include("header") -%>
<title>Charity Station | Logged out</title>
<center>
    <h2>You are now logged out from our Website!</h2>
</center>
<%- include("footer") -%>
