
<meta charset="utf-8" />
<title>Charity Station Location Display</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
<div id="map"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoia2E5MDMxNG4iLCJhIjoiY2s4YnM3M2FrMDlsbjNsbzd3enE3cGZxbyJ9.OEy6cq9MQUzCRVd6X5QMRw';
var map = new mapboxgl.Map({
container: 'map',
zoom: 19,
center: [<%=lo%>, <%=la%>],
style: 'mapbox://styles/mapbox/satellite-v9'
});
var geolocate = new mapboxgl.GeolocateControl({
accessToken: 'pk.eyJ1Ijoia2E5MDMxNG4iLCJhIjoiY2s4YnM3M2FrMDlsbjNsbzd3enE3cGZxbyJ9.OEy6cq9MQUzCRVd6X5QMRw',
language: 'en-US',
positionOptions: {
enableHighAccuracy: true
},
trackUserLocation: true
})

map.addControl(geolocate);
map.addControl(new mapboxgl.NavigationControl());

</script>
